/* Global Styles */

@import url('http://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: '微軟正黑體', 'Roboto';
}
h1, h2 {
  font-family: 'Noto Sans TC', '微軟正黑體';
}
a{
  text-decoration: none !important;
}
i{
  margin-right: 5px;
}
p{
  font-size: 16px;
  line-height: 30px;
  text-indent: 2em;
}
.panel-body p {
  text-indent: 0;
}
.star{
  color: red;
}
#email{
  color: rgb(58, 154, 254);
  font-weight: bold;
}

html, body {
  height: 100%;
}

body {
  background-color: rgba(240, 240, 240, 0.17);
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

figcaption {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
}

.modal-body{
  width: 60%;
  margin: 0px auto;
}
#wechat-QRcode{
  border: 5px double rgb(198, 198, 198);
}

/* 聯絡資訊 */
.white-icon{
  color: rgb(181, 181, 181);
}
.white-icon:hover{
  color: white;
}

.contact-nav{
  background-color: #535353;
  height: 40px;
  display: flex;
  align-items: center;
}
.contact-nav h4 {
  color: white;
  margin: 0 10px;
}
.contact-nav>.container{
  display: flex;
  justify-content: space-between;
}
.contact-nav>.container:after{
  content: initial;
}
.contact-nav>.container:before{
  content: initial;
}
.flex-row{
  display: flex;
  align-items: center;
}

.contact-nav-right i{
  padding: 5px 8px;
}

#contact-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-icon p{
  margin: 0 !important;
}

/* navbar style */
.navbar{
  margin-bottom: 0;
  box-shadow: 0px 0px 20px 10px #333333;
}
.navbar-nav>li>a {
  font-size: 1.1em;
}
.navbar-nav>.active{
  border-bottom: 4px solid rgb(15, 136, 34);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(185, 207, 198, 0.3);
}

.navbar-brand {
  padding: 5px 5px;
}

.navbar-default {
  background-color: white;
}

.img-portfolio {
  margin-bottom: 5px;
}

.img-hover:hover {
  opacity: 0.8;
}
#contact-fom-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(233, 233, 233);
}
.contact-info h5{
  margin-bottom: 0;
}
.contact-image {
  width: 45px;
  height: 45px;
}
.modal-content form{
  padding: 10px 30px;
}

#myCarousel{
  margin-top: 100px;
}
/*客製化5欄grid*/

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
@media (max-width: 500px) {
  .contact-nav{
    display: none;
  }
  #myCarousel{
    margin-top: 60px;
  }
}


/* Home Page Carousel */

header.carousel {
  height: 50%;
}

header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}


/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}


/* Footer Styles */

footer {
  margin-top: 30px;
  padding: 10px 0;
  background-color: rgba(142, 123, 68, 0.66);
}

footer h5 {
  text-align: center;
  color: white;
}

.back-to-top {
  padding: 10px 12px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.02)
}

.back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.55);
  border-color: rgba(255, 255, 255, 0.02)
}


/* Responsive Styles */

@media(max-width:991px) {
  .customer-img, .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }
  header.carousel .carousel {
    height: 70%;
  }
}
